.map__container{
  background-image: url("../images/img_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.map_castle{
  background: green;
  width: 5px;
  height: 5px;
}
.castle1{
  margin-left: 10px;
}